# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#vs specific
Thumbs.db
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.pidb
*.userprefs
*.resharper
*.cache
*.gpState
test-results
*.docstates
*.vspscc
*.vssscc
*.user
*.suo

#db specific
*.mdf
*.ldf
*.sdf
